<h2 mat-dialog-title>{{ !!data?.id ? "Actualizar" : "Crear" }} docente</h2>
<mat-dialog-content>
  <form id="dataForm" [formRoot]="teacherForm" (submit)="submit()">
    <div class="flex flex-col gap-3">
      <app-image-picker [formField]="teacherForm.picture"></app-image-picker>
      @if (teacherForm.picture().touched() && teacherForm.picture().invalid()) {
        <mat-error class="text-red-500 text-sm">
          {{ teacherForm.picture().errors()[0].message }}
        </mat-error>
      }

      <div class="grid grid-cols-2 gap-3">
        <mat-form-field>
          <mat-label>Nombre</mat-label>
          <input
            matInput
            placeholder="Ej: Juan"
            [formField]="teacherForm.firstname"
          />
          <mat-hint>Ingrese el nombre</mat-hint>
          @if (teacherForm.firstname().touched() && teacherForm.firstname().invalid()) {
            <mat-error>
              {{ teacherForm.firstname().errors()[0].message }}
            </mat-error>
          }
        </mat-form-field>

        <mat-form-field>
          <mat-label>Apellido</mat-label>
          <input
            matInput
            placeholder="Ej: Pérez"
            [formField]="teacherForm.lastname"
          />
          <mat-hint>Ingrese el apellido</mat-hint>
          @if (teacherForm.lastname().touched() && teacherForm.lastname().invalid()) {
            <mat-error>
              {{ teacherForm.lastname().errors()[0].message }}
            </mat-error>
          }
        </mat-form-field>
      </div>

      <mat-form-field class="w-full">
        <mat-label>Sucursal</mat-label>
        <mat-select [formField]="teacherForm.branchIds" multiple>
          @for (branch of branchTools.options(); track $index) {
          <mat-option [value]="branch.id">
            <div class="flex items-center gap-2">
              <img [alt]="branch.name" class="h-6 w-6" [src]="branch.picture" />
              <span> {{ branch.name }} </span>
            </div>
          </mat-option>
          }
        </mat-select>
        <mat-hint>Seleccione las sucursales</mat-hint>
        @if (teacherForm.branchIds().touched() && teacherForm.branchIds().invalid()) {
          <mat-error>
            {{ teacherForm.branchIds().errors()[0].message }}
          </mat-error>
        }
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close [disabled]="loading()">Cancelar</button>
  <button mat-button cdkFocusInitial form="dataForm" [disabled]="loading()">
    {{ loading() ? "Guardando..." : "Guardar" }}
  </button>
</mat-dialog-actions>