<h2 mat-dialog-title>{{ isEditing() ? "Actualizar" : "Crear" }} descuento</h2>
<mat-dialog-content>
  <form id="dataForm" [formRoot]="discountForm" (submit)="submit()">
    <div class="flex flex-col gap-3">
      <mat-form-field>
        <mat-label>Tipo de descuento</mat-label>
        <mat-select [formField]="discountForm.type">
          @for (type of discountTypes; track $index) {
          <mat-option [value]="type.value">{{ type.label }}</mat-option>
          }
        </mat-select>
        <mat-hint
          >Seleccione si el descuento es monto fijo o porcentaje</mat-hint
        >
        @if (discountForm.type().touched() && discountForm.type().invalid()) {
          <mat-error>
            {{ discountForm.type().errors()[0].message }}
          </mat-error>
        }
      </mat-form-field>

      <mat-form-field>
        <mat-label>
          @if (discountModel().type === 'PERCENTAGE') {
            Porcentaje
          } @else {
            Monto fijo
          }
          de descuento
        </mat-label>
        <input
          type="number"
          matInput
          placeholder="Ejemplo: 10"
          [formField]="discountForm.value"
        />
        <mat-hint
          >Ingrese el porcentaje ó cantidad de descuento (solo número)</mat-hint
        >
        @if (discountForm.value().touched() && discountForm.value().invalid()) {
          <mat-error>
            {{ discountForm.value().errors()[0].message }}
          </mat-error>
        }
      </mat-form-field>

      <mat-form-field>
        <mat-label>Nombre del descuento</mat-label>
        <input
          matInput
          placeholder="Ej: Descuento por temporada"
          [formField]="discountForm.name"
        />
        <mat-hint>Escriba un nombre descriptivo para el descuento</mat-hint>
        @if (discountForm.name().touched() && discountForm.name().invalid()) {
          <mat-error>
            {{ discountForm.name().errors()[0].message }}
          </mat-error>
        }
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close [disabled]="submitting()">Cancelar</button>
  <button mat-button cdkFocusInitial form="dataForm" [disabled]="submitting()">
    {{ submitting() ? "Guardando..." : "Guardar" }}
  </button>
</mat-dialog-actions>