<h2 mat-dialog-title>
  {{ !!data?.id ? "Actualizar" : "Crear" }} ciclo escolar
</h2>
<mat-dialog-content>
  <form id="dataForm" [formRoot]="cycleForm" (submit)="submit()">
    <div class="flex flex-col gap-3">
      <mat-form-field>
        <mat-label> Fecha de inicio y fin del ciclo escolar </mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input
            matStartDate
            placeholder="Fecha de inicio"
            [formField]="cycleForm.start"
          />
          <input matEndDate placeholder="Fecha de fin" [formField]="cycleForm.end" />
        </mat-date-range-input>
        <mat-hint>Seleccione un rango de fechas</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
        @if (cycleForm.start().touched() && cycleForm.start().invalid()) {
          <mat-error>
            {{ cycleForm.start().errors()[0].message }}
          </mat-error>
        }
        @if (cycleForm.end().touched() && cycleForm.end().invalid()) {
          <mat-error>
            {{ cycleForm.end().errors()[0].message }}
          </mat-error>
        }
      </mat-form-field>

      <mat-form-field>
        <mat-label>Nombre del ciclo</mat-label>
        <input
          matInput
          placeholder="Ej: Ciclo 2023-2024"
          [formField]="cycleForm.name"
        />
        <mat-hint>Ingrese el nombre del ciclo escolar</mat-hint>
        @if (cycleForm.name().touched() && cycleForm.name().invalid()) {
          <mat-error>
            {{ cycleForm.name().errors()[0].message }}
          </mat-error>
        }
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close [disabled]="loading()">Cancelar</button>
  <button mat-button cdkFocusInitial form="dataForm" [disabled]="loading()">
    {{ loading() ? "Guardando..." : "Guardar" }}
  </button>
</mat-dialog-actions>