<h2 mat-dialog-title>{{ !!data?.id ? "Actualizar" : "Crear" }} negocio</h2>
<mat-dialog-content>
  <form id="dataForm" [formRoot]="branchForm" (submit)="submit()">
    <div class="flex flex-col gap-3">
      <app-image-picker [formField]="branchForm.picture"></app-image-picker>
      @if (branchForm.picture().touched() && branchForm.picture().invalid()) {
        <mat-error class="text-red-500 text-sm">
          {{ branchForm.picture().errors()[0].message }}
        </mat-error>
      }

      <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input
          matInput
          placeholder="Ej: Step Ups"
          [formField]="branchForm.name"
        />
        <mat-hint>Ingrese el nombre comercial del negocio</mat-hint>
        @if (branchForm.name().touched() && branchForm.name().invalid()) {
          <mat-error>
            {{ branchForm.name().errors()[0].message }}
          </mat-error>
        }
      </mat-form-field>

      <mat-form-field class="w-full">
        <mat-label>Cuenta clip</mat-label>
        <mat-select [formField]="branchForm.clipAccountID">
          @for (clip of clipAccountTools.options(); track $index) {
          <mat-option [value]="clip.id">
            {{ clip.name }}
          </mat-option>
          }
        </mat-select>
        <mat-hint> Seleccione una cuenta clip </mat-hint>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close [disabled]="loading()">Cancel</button>
  <button mat-button cdkFocusInitial form="dataForm" [disabled]="loading()">
    {{ loading() ? "Guardando..." : "Guardar" }}
  </button>
</mat-dialog-actions>