<h2 mat-dialog-title>
  {{ isEditing() ? "Actualizar" : "Crear" }} ciclo escolar
</h2>
<mat-dialog-content>
  <form id="dataForm" [formRoot]="accountForm" (submit)="submit()">
    <div class="flex flex-col gap-3">
      <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input
          matInput
          placeholder="Ej: contabilidad@example.com"
          [formField]="accountForm.name"
        />
        <mat-hint>Ingrese el nombre de la cuenta clip</mat-hint>
        @if (accountForm.name().touched() && accountForm.name().invalid()) {
          <mat-error>
            {{ accountForm.name().errors()[0].message }}
          </mat-error>
        }
      </mat-form-field>

      <p>
        Puede dejar el campo de token vacío para no actualizarlo, o bien
        ingresar un nuevo token para actualizarlo.
      </p>

      <p>
        Puede obtener el token de autenticación de la cuenta clip
        <a
          href="https://developer.clip.mx/reference/token-de-autenticacion"
          target="_blank"
          rel="noopener noreferrer"
          class="text-primary font-bold"
          >aquí</a
        >
      </p>

      <mat-form-field>
        <mat-label>Token</mat-label>
        <input
          matInput
          placeholder="Ej: 1234567890abcdef"
          [formField]="accountForm.token"
        />
        <mat-hint>Ingrese el token de autenticación de la cuenta clip</mat-hint>
        @if (accountForm.token().touched() && accountForm.token().invalid()) {
          <mat-error>
            {{ accountForm.token().errors()[0].message }}
          </mat-error>
        }
      </mat-form-field>

      <mat-form-field>
        <mat-label>Webhook</mat-label>
        <input
          matInput
          placeholder="Ej: https://hkdk.events/dqhneecgi8i15b"
          [formField]="accountForm.webhook"
        />
        <mat-hint>Ingrese un enlace de webhook</mat-hint>
        @if (accountForm.webhook().touched() && accountForm.webhook().invalid()) {
          <mat-error>
            {{ accountForm.webhook().errors()[0].message }}
          </mat-error>
        }
      </mat-form-field>

      <mat-form-field>
        <mat-label>
          Enlace por defecto
        </mat-label>
        <input
          matInput
          placeholder="Ej: https://portal.apexcentre.com.mx/status/"
          [formField]="accountForm.default"
        />
        <mat-hint>Ingrese el enlace por defecto</mat-hint>
        @if (accountForm.default().touched() && accountForm.default().invalid()) {
          <mat-error>
            {{ accountForm.default().errors()[0].message }}
          </mat-error>
        }
      </mat-form-field>

      <mat-form-field>
        <mat-label>Enlace de éxito</mat-label>
        <input
          matInput
          placeholder="Ej: https://portal.apexcentre.com.mx/status/"
          [formField]="accountForm.success"
        />
        <mat-hint>Ingrese un enlace de éxito</mat-hint>
        @if (accountForm.success().touched() && accountForm.success().invalid()) {
          <mat-error>
            {{ accountForm.success().errors()[0].message }}
          </mat-error>
        }
      </mat-form-field>

      <mat-form-field>
        <mat-label>Enlace de error</mat-label>
        <input
          matInput
          placeholder="Ej: https://portal.apexcentre.com.mx/status/"
          [formField]="accountForm.error"
        />
        <mat-hint>Ingrese un enlace de error</mat-hint>
        @if (accountForm.error().touched() && accountForm.error().invalid()) {
          <mat-error>
            {{ accountForm.error().errors()[0].message }}
          </mat-error>
        }
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close [disabled]="submitting()">Cancelar</button>
  <button mat-button cdkFocusInitial form="dataForm" [disabled]="submitting()">
    {{ submitting() ? "Guardando..." : "Guardar" }}
  </button>
</mat-dialog-actions>