<h2 mat-dialog-title>Recibir pago</h2>
<mat-dialog-content>
  <form id="paymentForm" [formRoot]="chargeForm" (submit)="submit()">
    <div class="flex justify-between gap-2">
      <p>
        <span class="font-bold">Deuda total:</span>
        {{ total | currency : "MXN" }}
      </p>
      <p>
        <span class="font-bold">Restante: </span>
        {{ remainingAmount() | currency : "MXN" }}
      </p>
    </div>

    @if (chargeForm().touched() && chargeForm().invalid()) {
    <mat-error>
      {{ chargeForm().errors()[0].message }}
    </mat-error>
    }

    <mat-tab-group>
      @for (payment of paymentsModel().payments; track $index + payment.method) {
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon [svgIcon]="paymentIcons[payment.method]" />
          {{ paymentNames[payment.method] }}
        </ng-template>

        <app-charge-form
          [payment]="payment"
          (update)="updatePayment($index, $event)"
        />
      </mat-tab>
      }
    </mat-tab-group>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close [disabled]="loading()">Cancelar</button>
  <button mat-button cdkFocusInitial form="paymentForm" [disabled]="loading()">
    {{ loading() ? "Cobrando..." : "Cobrar" }}
  </button>
</mat-dialog-actions>