<h2 mat-dialog-title>{{ !!data?.id ? "Actualizar" : "Crear" }} usuario</h2>
<mat-dialog-content>
  <form id="dataForm" [formRoot]="userForm" (submit)="submit()">
    <div class="flex flex-col gap-3">
      <mat-form-field>
        <mat-label>Correo electrónico</mat-label>
        <input
          type="email"
          matInput
          placeholder="Ej: example@domain.com"
          [formField]="userForm.email"
        />
        <mat-hint>Ingrese el correo electrónico</mat-hint>
        @if (userForm.email().touched() && userForm.email().invalid()) {
          <mat-error>
            {{ userForm.email().errors()[0].message }}
          </mat-error>
        }
      </mat-form-field>

      <mat-form-field>
        <mat-label>Nombre de usuario</mat-label>
        <input
          matInput
          placeholder="Ej: jperez"
          [formField]="userForm.username"
        />
        <mat-hint>Ingrese el nombre de usuario</mat-hint>
        @if (userForm.username().touched() && userForm.username().invalid()) {
          <mat-error>
            {{ userForm.username().errors()[0].message }}
          </mat-error>
        }
        @if (userForm.username().pending()) {
          <mat-hint>Verificando disponibilidad...</mat-hint>
        }
      </mat-form-field>

      @if (!data?.id) {
      <mat-form-field>
        <mat-label>Contraseña</mat-label>
        <input
          matInput
          placeholder="Ej: ********"
          [formField]="userForm.password"
        />
        <mat-hint>Ingrese la contraseña</mat-hint>
        @if (userForm.password().touched() && userForm.password().invalid()) {
          <mat-error>
            {{ userForm.password().errors()[0].message }}
          </mat-error>
        }
      </mat-form-field>
      }

      <mat-form-field class="w-full">
        <mat-label>Sucursal</mat-label>
        <mat-select [formField]="userForm.branchId">
          @for (branch of branchTools.options(); track $index) {
          <mat-option [value]="branch.id">
            <div class="flex items-center gap-2">
              <img [alt]="branch.name" class="h-6 w-6" [src]="branch.picture" />
              <span> {{ branch.name }} </span>
            </div>
          </mat-option>
          }
        </mat-select>
        @if (userForm.branchId().touched() && userForm.branchId().invalid()) {
          <mat-error>
            {{ userForm.branchId().errors()[0].message }}
          </mat-error>
        }
        <mat-hint> Seleccione una sucursal </mat-hint>
      </mat-form-field>

      <mat-form-field class="w-full">
        <mat-label>Ciclo</mat-label>
        <mat-select [formField]="userForm.cycleId">
          @for (cycle of cycleTools.options(); track $index) {
          <mat-option [value]="cycle.id">
            {{ cycle.name }}
          </mat-option>
          }
        </mat-select>
        @if (userForm.cycleId().touched() && userForm.cycleId().invalid()) {
          <mat-error>
            {{ userForm.cycleId().errors()[0].message }}
          </mat-error>
        }
        <mat-hint> Seleccione un ciclo escolar </mat-hint>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close [disabled]="loading()">Cancelar</button>
  <button mat-button cdkFocusInitial form="dataForm" [disabled]="loading()">
    {{ loading() ? "Guardando..." : "Guardar" }}
  </button>
</mat-dialog-actions>