<h2 mat-dialog-title>{{ !!data?.id ? "Actualizar" : "Crear" }} adeudo</h2>
<mat-dialog-content>
  <form id="dataForm" [formRoot]="debitForm" (submit)="submit()">
    <div class="flex flex-col gap-3">
      <mat-checkbox
        [formField]="debitForm.withTax"
        matTooltip="El IVA se aplica despues de los descuentos"
      >
        ¿Incluye IVA?
      </mat-checkbox>

      <mat-form-field>
        <mat-label>Frecuencia de pago</mat-label>
        <mat-select [formField]="debitForm.frequency">
          @for (frequency of frequencies; track $index) {
          <mat-option [value]="frequency.value">{{
            frequency.label
          }}</mat-option>
          }
        </mat-select>
        <mat-hint
          >Seleccione la frecuencia con la que se realizará el pago</mat-hint
        >
        @if (debitForm.frequency().touched() && debitForm.frequency().invalid()) {
          <mat-error>
            {{ debitForm.frequency().errors()[0].message }}
          </mat-error>
        }
      </mat-form-field>

      <mat-form-field>
        <mat-label>Descripción del adeudo</mat-label>
        <input
          matInput
          placeholder="Ej: Mensualidad del servicio"
          [formField]="debitForm.description"
        />
        <mat-hint>Ingrese una descripción detallada del adeudo</mat-hint>
        @if (debitForm.description().touched() && debitForm.description().invalid()) {
          <mat-error>
            {{ debitForm.description().errors()[0].message }}
          </mat-error>
        }
      </mat-form-field>

      <div class="grid grid-cols-2 gap-3">
        <mat-form-field>
          <mat-label>Precio unitario</mat-label>
          <input
            matInput
            placeholder="Ej: 100.00"
            [formField]="debitForm.unitPrice"
            type="number"
          />
          <mat-hint>Precio por unidad del concepto</mat-hint>
          @if (debitForm.unitPrice().touched() && debitForm.unitPrice().invalid()) {
            <mat-error>
              {{ debitForm.unitPrice().errors()[0].message }}
            </mat-error>
          }
        </mat-form-field>

        <mat-form-field>
          <mat-label>Cantidad de unidades</mat-label>
          <input
            matInput
            placeholder="Ej: 2"
            [formField]="debitForm.quantity"
            type="number"
          />
          <mat-hint>Cantidad de unidades a cobrar</mat-hint>
          @if (debitForm.quantity().touched() && debitForm.quantity().invalid()) {
            <mat-error>
              {{ debitForm.quantity().errors()[0].message }}
            </mat-error>
          }
        </mat-form-field>
      </div>

      <mat-form-field>
        <mat-label>Importe</mat-label>
        <input
          matInput
          placeholder="Ej: 200.00"
          [formField]="debitForm.amount"
          type="number"
        />
        <mat-hint>Importe total a cobrar por el adeudo</mat-hint>
        @if (debitForm.amount().touched() && debitForm.amount().invalid()) {
          <mat-error>
            {{ debitForm.amount().errors()[0].message }}
          </mat-error>
        }
      </mat-form-field>

      <mat-chip-set>
        @for (discount of discounts(); track discount.id; let i = $index) {
        <mat-chip>
          @if (discount.type === 'PERCENTAGE') {
          <span>- {{ discount.value }} %</span>
          } @else if (discount.type === 'FIXED') {
          <span>- {{ discount.value | currency : "MXN" }}</span>
          }

          <button matChipRemove (click)="removeDiscount(i)">
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip>
        }

        <mat-chip (click)="selectDebitDiscount()"> Agregar descuento </mat-chip>
      </mat-chip-set>

      <div class="grid grid-cols-2 gap-3">
        @if (debitModel().frequency !== 'MONTHLY') {
        <mat-form-field>
          <mat-label>Fecha del pago</mat-label>
          <input
            matInput
            [matDatepicker]="datepicker"
            [formField]="debitForm.dueDate"
          />
          <mat-hint>Seleccione la fecha de pago</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="datepicker"
          ></mat-datepicker-toggle>
          <mat-datepicker #datepicker> </mat-datepicker>
          @if (debitForm.dueDate().touched() && debitForm.dueDate().invalid()) {
            <mat-error>
              {{ debitForm.dueDate().errors()[0].message }}
            </mat-error>
          }
        </mat-form-field>
        }

        <mat-form-field>
          <mat-label>Estado del adeudo</mat-label>
          <mat-select [formField]="debitForm.state">
            @for (state of states; track $index) {
            <mat-option [value]="state.value">{{ state.label }}</mat-option>
            }
          </mat-select>
          <mat-hint>Seleccione el estado actual</mat-hint>
          @if (debitForm.state().touched() && debitForm.state().invalid()) {
            <mat-error>
              {{ debitForm.state().errors()[0].message }}
            </mat-error>
          }
        </mat-form-field>
      </div>
    </div>
    <div class="w-60 flex flex-col gap-2 ml-auto">
      <div class="flex gap-2 w-full">
        <p class="w-full text-right font-semibold">Importe</p>
        <p class="w-full text-right">{{ amount() | currency : "MXN" }}</p>
      </div>
      <div class="flex gap-2 w-full">
        <p class="w-full text-right font-semibold">Descuentos</p>
        <p class="w-full text-right">
          {{ debitModel().discount | currency : "MXN" }}
        </p>
      </div>
      <div class="flex gap-2 w-full">
        <p class="w-full text-right font-semibold">Subtotal</p>
        <p class="w-full text-right">{{ subtotal() | currency : "MXN" }}</p>
      </div>
      <div class="flex gap-2 w-full">
        <p class="w-full text-right font-semibold">IVA</p>
        <p class="w-full text-right">{{ taxes() | currency : "MXN" }}</p>
      </div>
      <div class="flex gap-2 w-full">
        <p class="w-full text-right font-semibold">Total</p>
        <p class="w-full text-right">{{ total() | currency : "MXN" }}</p>
      </div>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close [disabled]="loading()">Cancelar</button>
  <button mat-button cdkFocusInitial form="dataForm" [disabled]="loading()">
    {{ loading() ? "Guardando..." : "Guardar" }}
  </button>
</mat-dialog-actions>